<div fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center"
     fxFlexFill>

  <div fxFlex="50%" fxFlexOrder="1" fxFlex.lt-sm="15%">
    <mat-card>
      <mat-card-title>{{'Details' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'Your personal information' | translate}}</mat-card-subtitle>
      <mat-card-content>
        <p>{{'Username'|translate}}: {{user.usernameObs | async}}</p>
        <p>{{'CEVI name'|translate}}: {{user.cevi_nameObs | async}}</p>
        <p>{{'First name'|translate}}: {{user.first_nameObs | async}}</p>
        <p>{{'Last name'|translate}}: {{user.last_nameObs | async}}</p>
        <p>{{'Gender'|translate}}: {{gender | async}}</p>
        <br>
        <button mat-raised-button color="primary" (click)="editUser()">{{'Edit'|translate}}</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlexOrder="50%" fxFlex.lt-sm="30%">
    <mat-card>
      <mat-card-title>{{'To Be defined'|translate}}</mat-card-title>
      <mat-card-subtitle>TODO</mat-card-subtitle>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        --
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.
      </mat-card-content>
    </mat-card>
  </div>

</div>
