<mat-card *ngIf="!isLoaded">
  <mat-card-title>{{'Loading...'|translate}}</mat-card-title>
</mat-card>
<mat-card *ngIf="isLoaded">
  <mat-card-title>{{articleTitleObs | async}}</mat-card-title>
  <mat-card-content>
    <div [innerHTML]="articleDescriptionParsedObs | async"></div>
    <mat-divider></mat-divider>
    <br>
    <p>
      <strong>{{'Quality'|translate}}</strong>
      <br>
      {{articleQualityObs | async}} ({{'Level'|translate}} {{article.quality.level}})
    </p>
    <div *ngIf="article.quantity > 1 || article.quantity < 1">{{article.quantity}} {{'items'|translate}}</div>
    <div *ngIf="article.quantity === 1">1 {{'item'|translate}}</div>
    <p>{{'This article was bough at'|translate}} {{article.purchase_date| dynamicMoment | async}}</p>
    <div *ngIf="article.replacement.needed">
      <h3>{{'Replacement needed until'|translate}} {{article.replacement.date | dynamicMoment | async}}</h3>
    </div>
    <br>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Storage Location'}}
          </mat-panel-title>
          <mat-panel-description>
            {{'The storage location of the article'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card [routerLink]="['/','storages', 'locations', article.storage.id]">
          <mat-card-title>{{'Storage Location'|translate}}</mat-card-title>
          <br>
          {{article.storage.name}}
        </mat-card>

        <mat-card [routerLink]="['/','storages', 'locations', article.room.id]">
          <mat-card-title>{{'Room'|translate}}</mat-card-title>
          <br>
          {{article.room.name}}
        </mat-card>

        <mat-card [routerLink]="['/','storages', 'locations', article.corridor.id]">
          <mat-card-title>{{'Corridor'|translate}}</mat-card-title>
          <mat-card-content>{{article.corridor.name}}</mat-card-content>
        </mat-card>

        <mat-card [routerLink]="['/','storages', 'locations', article.shelf.id]">
          <mat-card-title>{{'Shelf'|translate}}</mat-card-title>
          <br>
          {{article.shelf.name}}
        </mat-card>

        <mat-card [routerLink]="['/','storages', 'locations', article.tray.id]">
          <mat-card-title>{{'Tray'|translate}}</mat-card-title>
          <br>
          {{article.tray.name}}
        </mat-card>

        <mat-card [routerLink]="['/','storages', 'locations', article.chest.id]">
          <mat-card-title>{{'Chest'|translate}}</mat-card-title>
          <br>
          {{article.chest.name}}
        </mat-card>

      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-card-content>
</mat-card>
